<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark" style="background-color:rgb(0,97,176)">
        <div class="container">
            @Html.ActionLink("Snack Shop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="切换导航" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Shop by Category", "Index", "Categories", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("View all our Products", "Index", "Products", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                @using (Html.BeginForm("Index", "Products", FormMethod.Get, new
                {
                    @class =
"navbar-form navbar-left"
                }))
                {
                    <div class="form-group" style="display:flex;">
                        @Html.TextBox("Search", null, new
                        {
                            @class = "form-control",
                            @placeholder =
                        "Search Products"
                        })
                        <button type="button" class="btn btn-light">Submit</button>
                        
                    </div>

                }
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            <p>contact us by email:<a href="mailto:2959084404@qq.com">2959084404@qq.com</a></p>
            <div class="contact">
                <div class="email">
                    <a href="#" onclick="validateHTML()">HTML5</a> 
                    <a href="#" onclick="validateCSS()">CSS3</a> 
                </div>
            </div>
            <script>
                function validateHTML() {
                    var htmlContent = document.documentElement.outerHTML;

                    var w3cValidatorUrl = "https://validator.w3.org/nu/";

                    // 将 HTML 代码发送到 W3C Validator API
                    var w3cValidatorForm = document.createElement("form");
                    w3cValidatorForm.method = "POST";
                    w3cValidatorForm.enctype = "multipart/form-data";
                    w3cValidatorForm.action = w3cValidatorUrl;
                    w3cValidatorForm.target = "_blank";
                    w3cValidatorForm.style.display = "none";

                    var w3cValidatorInput = document.createElement("input");
                    w3cValidatorInput.type = "hidden";
                    w3cValidatorInput.name = "content";
                    w3cValidatorInput.value = htmlContent;
                    w3cValidatorForm.appendChild(w3cValidatorInput);

                    document.body.appendChild(w3cValidatorForm);
                    w3cValidatorForm.submit();
                } function validateCSS() {
                    var cssContent = '';

                    var styleSheets = document.styleSheets;
                    for (var i = 0; i < styleSheets.length; i++) {
                        var rules = styleSheets[i].cssRules;
                        if (rules) {
                            for (var j = 0; j < rules.length; j++) {
                                cssContent += rules[j].cssText + '\n';
                            }
                        }
                    }

                    var cssValidatorUrl = "http://jigsaw.w3.org/css-validator/validator";

                    // 将 CSS 代码发送到 CSS Validator
                    var cssValidatorForm = document.createElement("form");
                    cssValidatorForm.method = "POST";
                    cssValidatorForm.enctype = "multipart/form-data";
                    cssValidatorForm.action = cssValidatorUrl;
                    cssValidatorForm.target = "_blank";
                    cssValidatorForm.style.display = "none";

                    var cssValidatorInput = document.createElement("input");
                    cssValidatorInput.type = "hidden";
                    cssValidatorInput.name = "text";
                    cssValidatorInput.value = cssContent;
                    cssValidatorForm.appendChild(cssValidatorInput);

                    document.body.appendChild(cssValidatorForm);
                    cssValidatorForm.submit();
                }
            </script>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
